/* First Section */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: .8;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;  
}   
.hero-text {
    width: 450px;
    margin-left: 14%;
}
.hero-text h1 {
    margin-bottom: 0;
}

.hero img {
    margin: 80px;
    width: auto;
    height: 500px;
    border-radius: 10px;
}



/* Second Section */
.strong-one {
    text-align: center;
    margin-top: 50px;
}
#pictures {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 50px 0px 90px 0px;
    
}
.img-boxes {
    overflow: hidden;
}
#pictures img {
    border-radius: 20px;
    height: 200px;
    border: 4px solid #3882f6;
}



/* Third Section */
#quote {
    text-align: center;
    padding: 190px;
}
.quote.strong {
    display: flex;
    justify-content: flex-end;
}



/* Fourth Section */
#sign-up {
    display: flex;
    justify-content: space-around;
    margin: 9% 11%;
    border-radius: 10px;
}
.sign-box {
    display: flex;
    flex-direction: column;  
    padding: 30px;
}

.sign-box h4 {
    margin-bottom: 0;
}
.sign-box p {
    margin-top: 0;
}
.sign-button {
    display: flex;
    align-items: center;
}



/* FOOTER */
.footer {
    text-align: center;
    padding: 2%;
}




/* Font's & Styles */
body {
    margin: 0;
    padding: 0;
}
.first, .footer {
    background-color: #1F2937;
}
.header p{
    font-size: 24px;
    color: #f9faf8;
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero p, a {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    background-color: #3882f6;
    color: white;
}
.strong-one{
    font-size: 36px;
    color: #1F2937;
}
#quote {
    background-color: #e5e7eb;
    font-size: 36px;    
    font-style: italic;
    color: #1F2937;
}

#sign-up {
    background-color: #3882f6;
    color: white;
}
#sign-up p {
    color: #f9faf8;
}
.hero button {
    padding: 5px 25px;
    border-radius: 10px;
    border-style: none;
}
#sign-up button {
    padding: 5px 25px;
    border-radius: 10px;
    border: 2px solid white;
}
button:hover {
    opacity: .8;
    cursor: pointer;
}
.footer {
    color: #e5e7eb;
    font-size: xx-small;
}